.modalBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 201;
  margin-left: -3rem;
}

.userListContainer {
  background-color: var(--background-color);
  color: black;
  height: 75%;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
