.listedUser {
  color: var(--text-color);
  padding: 1rem;
  border-radius: 10px;
  width: 79%;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

.userTitle {
  font-size: 1rem;
}

.listedUser button {
  height: 43%;
}

.listedUser a:hover,
.listedUser button:hover {
  opacity: 0.7;
}

.listedUser img {
  float: left;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.listedUserTextsContainer {
  text-align: left;
  margin-left: 0.5rem;
}

.listedUserName {
  font-size: 1.5rem;
}

.listedUserUsername {
  font-size: 1rem;
}

.listedUserTextsContainer p {
  margin: 0;
  color: var(--text-color);
}

.infoContainer button {
  margin: 0.5rem;
}

@media screen and (max-width: 810px) {
  .listedUser {
    width: 97%;
  }
}

@media screen and (max-width: 615px) {
  .listedUserName {
    font-size: 1rem;
  }

  .infoContainer button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 540px) {
  .friendRequestFilterHeaders header {
    font-size: 1.25rem;
  }

  .friendRequestsUsersContainer {
    width: 99%;
  }
}
