.listedUser {
  color: var(--text-color);
  padding: 1rem;
  border-radius: 10px;
  width: 74%;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

.listedUser button {
  height: 43%;
}

.listedUser a:hover,
.listedUser button:hover {
  opacity: 0.7;
}

.listedUser img {
  float: left;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.listedUserTextsContainer {
  text-align: left;
}

.listedUserTextsContainer p {
  margin: 0;
}

.listedUserTextsContainer p:first-child {
  font-size: 1.5rem;
}
