.userTitle {
  font-size: 1rem;
  color: gray !important;
}

.listedUserBtnsContainer button {
  height: 43%;
}

.listedUserTextsContainer {
  text-align: left;
}

.listedUserName {
  font-size: 1.5rem;
}

.listedUserUsername {
  font-size: 1rem;
}

.listedUserTextsContainer p {
  margin: 0;
  color: var(--text-color);
}

.listedUserBtnsContainer button {
  margin: 0.5rem;
}

.listedUserBtnsContainer button:first-child {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .infoContainer button {
  margin: 0.5rem;
} */

@media screen and (max-width: 834px) {
  .listedUserTextsContainer p {
    font-size: smaller;
  }

  .listedUserBtnsContainer button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 615px) {
  .listedUserName {
    font-size: 1rem;
  }

  .infoContainer button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 540px) {
  .friendRequestFilterHeaders header {
    font-size: 1.25rem;
  }
}
