.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.footer hr {
  width: 61%;
  margin-bottom: 3rem;
}

/* RESPONSIVE */
@media screen and (max-width: 540px) and (min-width: 501px) {
  .footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
}
