.userEventsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: 0 auto 1.5rem auto;
}

.userEventsSection h2 {
  margin: 1rem 0 0 2rem;
}

.userEventsSectionEventsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  justify-content: flex-start;
  width: 100%;
}
