.browseInterestsModal {
  background: white;
  padding: 3rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.browseInterestsModal .barAndDescription {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.browseInterestsModal .barAndDescription {
  width: 75%;
}

.browseInterestsModal .barAndDescription p {
  margin: 0.5rem 0 0 3rem;
}

.browseInterestsModal .barAndDescription i {
  top: 18%;
  right: 18%;
  font-size: 1.25rem;
}

.browseInterestsModal .barAndDescription input {
  width: 75%;
}

.browseInterestsModal p {
  color: black;
}

.nonUserInterestsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 7rem;
  overflow-y: scroll;
  margin-top: 1rem;
}

.nonUserInterestsContainer .tab {
  font-size: 1.25rem;
}
