.eye {
  position: absolute;
  top: 2%;
  left: 92%;
  color: white;
  background-color: transparent;
}

.eye:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .eye {
    left: 91%;
  }
}

@media screen and (max-width: 540px) {
  .eye {
    left: 86%;
  }

  .socials-inputs-container label {
    width: unset;
  }
}

@media screen and (max-width: 500px) {
  .eye {
    top: 3%;
  }
}

@media screen and (max-width: 360px) {
  .eye {
    left: 81%;
  }
}

@media screen and (max-width: 320px) {
  .eye {
    left: 81%;
  }
}
