.eye {
  position: absolute;
  top: 34%;
  left: 94%;
  color: white;
}

.eye:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .eye {
    left: 91%;
  }
}

@media screen and (max-width: 540px) {
  .eye {
    top: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .eye {
    top: 30%;
  }
}

@media screen and (max-width: 320px) {
  .eye {
    left: 86%;
  }
}
