.friendRequestFilterHeaders {
  display: flex;
  width: 37%;
  justify-content: space-evenly;
}

.friendRequestFilterHeaders header {
  font-size: 1.5rem;
}

.friendRequestFilterHeaders header:hover {
  cursor: pointer;
}

.requestTypeUnderline {
  height: 2px;
  width: 100%;
  animation-duration: 500ms;
}

@media screen and (max-width: 1024px) {
  .friendRequestFilterHeaders {
    width: 54%;
  }
}

@media screen and (max-width: 900px) {
  .friendRequestFilterHeaders {
    width: 84%;
  }
}
