.dropdownChecklist {
  flex-direction: column;
  align-items: flex-start;
  background-color: gray;
  max-height: 50vh;
  overflow-y: scroll;
}

.otherUserOption {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  font-family: var(--text-font);
}

.otherUserOption:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  opacity: 0.8;
}

.otherUserOption input {
  margin-right: 0;
  width: unset !important;
}

.dropdownChecklist {
  flex-direction: column;
  align-items: flex-start;
  background-color: gray;
  max-height: 50vh;
  overflow-y: scroll;
}

.dropdownChecklist li {
  display: flex;
  align-items: center;
}

.dropdownChecklist li:hover {
  background-color: unset;
  opacity: 1;
}

.dropdownChecklist li span {
  margin-left: 0.5rem;
}

.dropdownChecklist li img {
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 4px;
}

.otherUserOption input {
  margin-right: 1.5rem;
  margin-left: 1rem;
}
