#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-options-container {
  display: flex;
  justify-content: space-around;
}

.login-options-container header {
  font-size: 1.25rem;
  padding: 0.25rem;
}

.login-options-container header:hover {
  cursor: pointer;
}

.login-signup-form {
  margin-top: 1rem;
}

.login-signup-form p {
  margin: 0.1rem;
}

.login-signup-form input {
  width: 100%;
  padding: 0.45rem;
}

.eye {
  position: absolute;
  top: 60%;
  left: 94%;
}

.eye:hover {
  cursor: pointer;
}

.link-to-other-form:hover {
  cursor: pointer;
}
