#root {
  /* max-width: 1280px; */
  text-align: center;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* top: 1rem; */
  min-height: 100vh;
}

.app {
  background-color: var(--background-color);
  position: relative;
  top: 0rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.hamburger-container {
  display: flex;
  width: 83%;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: baseline;
}

.query-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  justify-content: space-evenly;
}

.query-status-text {
  color: var(--header-three-color);
  font-size: 2rem;
  font-weight: 700;
}

.palz-logo header,
#hamburger {
  font-size: 2rem;
  line-height: 1.5;
  margin: -1.5rem 0 0 0;

  background: linear-gradient(
    80deg,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color),
    var(--secondary-color)
  );
  background: -webkit-linear-gradient(
    34deg,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300% !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_h1 10s ease-in-out infinite;
  -moz-animation: animated_h1 10s ease-in-out infinite;
  -webkit-animation: animated_h1 10s ease-in-out infinite;
}
@keyframes animated_h1 {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.palz-logo:hover {
  color: unset;
  opacity: 0.7;
}

.standalone-element {
  position: relative;
  top: 44%;
}

.page-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  min-height: 45vh;
  width: 100%;
  /* overflow-y: scroll; */
}

.page-hero .standalone-element {
  height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 45vh;
  align-items: center;
}

.page-hero nav {
  margin-top: 2.5rem;
  /* margin-left: 3rem;
  margin-bottom: 3rem; */
}

.page-hero form {
  width: 87vw;
  margin-bottom: 3rem;
  text-align: left;
}

.page-hero form input {
  width: 100%;
  padding: 0.45rem;
}

.page-hero form p,
.input-error-message {
  margin: 0.1rem;
  letter-spacing: 0.5px;
}

.theme-toggle-button {
  padding: 0.5rem;
  border: none;
  font-size: 0.75rem;
}

/* .theme-toggle-button:focus {
  border: none;
  outline: none;
} */

.theme-toggle-icon {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}

.page-hero .login-page-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}

.terms-and-conditions-paragraphs-container {
  width: 75%;
}

.login-greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-greeting-container h1,
.login-greeting-container h2 {
  background: linear-gradient(
    80deg,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color),
    var(--secondary-color)
  );
  background: -webkit-linear-gradient(
    34deg,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300% !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_h1 10s ease-in-out infinite;
  -moz-animation: animated_h1 10s ease-in-out infinite;
  -webkit-animation: animated_h1 10s ease-in-out infinite;
}

.login-greeting-container h2 {
  margin-top: 0;
}

.login-greeting-container button {
  font-weight: 800;
}

.login-greeting-container button:focus {
  outline: none;
  border: 3px solid var(--text-color);
}

.login-options-container {
  display: flex;
  justify-content: space-around;
}

.form-type-underline {
  height: 2px;
  width: 100%;
  background-color: var(--header-three-color);
  animation-duration: 500ms;
}

.login-option {
  display: flex;
  flex-direction: column;
}

.login-options-container header {
  font-size: 2rem;
  padding: 0.25rem;
  color: var(--header-three-color);
  font-weight: 900;
}

.login-options-container header:hover {
  cursor: pointer;
}

.login-form {
  width: 50%;
}

.page-hero .login-signup-edit-form {
  width: 70%;
}

.login-signup-edit-form .theme-element-container {
  width: 103%;
  margin-top: 1.5rem;
}

.login-signup-edit-form p:first-child {
  font-size: 1.25rem;
  font-family: var(--text-font);
}

.input-label {
  font-size: 1.25rem;
  font-family: var(--text-font);
  color: var(--text-color);
}

.independent-header {
  font-size: 1.25rem;
  font-family: var(--text-font);
  color: var(--text-color);
  text-align: left;
}

.erroneous-field {
  outline: 2px solid red;
  border: none;
}

#event-max-participants {
  width: 25%;
}

.input-error-message {
  font-size: 1rem;
  font-family: var(--text-font);
}

.password-input {
  width: 100%;
  position: relative;
}

.input-criteria {
  font-size: 0.85rem;
  font-family: var(--text-font);
}

.login-button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--text-font);
  cursor: pointer;
  transition: border-color 0.25s;
}

.login-button:hover {
  cursor: pointer;
}

.link-to-other-form {
  color: var(--header-three-color);
  font-weight: 900;
}

.link-to-other-form:hover {
  cursor: pointer;
}

.upcoming-events-hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rsvpd-events-container {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  overflow-x: scroll;
  width: 87vw;
}

.eventCard {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 33%;
  font-family: var(--text-font);
  color: var(--text-color);
  padding: 0.5rem;
  margin: 1.5rem;
  position: relative;
}

.eventCard header {
  font-weight: 700;
}

.user-events-section .all-cards-container .eventCard {
  margin: 1rem 3rem 2rem 0;
}

.userEventsSectionEventsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  justify-content: flex-start;
  width: 96%;
}

.all-cards-container .eventCard {
  /* width: calc(50% - 4rem); */
  margin: 2rem 5rem;
}

.box-link-container {
  display: flex;
}

.box-link {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  padding: 2rem;
  margin: 2rem;
  color: var(--text-color);
}

.site-links-container {
  width: 81vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

/* .site-links-container button {
  background-color: var(--background-color-opposite);
  color: var(--text-color-opposite);
  font-family: var(--text-font);
} */

.remove-data {
  color: red;
  font-size: 0.75rem;
  font-family: var(--text-font);
  font-weight: 700;
}

.remove-data:hover {
  cursor: pointer;
}

.radio-inputs-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.radio-input-and-label {
  display: flex;
  font-family: var(--text-font);
}

.radio-input-and-label span {
  text-wrap: nowrap;
  display: flex;
  height: 100%;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.buttons-container button {
  color: var(--text-color);
}

/* .buttons-container button:first-child {
  background-color: var(--background-color-opposite);
  color: var(--text-color-opposite);
} */

.phone-input-elements {
  display: flex;
}

.phone-input-elements .theme-element-container {
  width: unset;
  margin-top: 0;
  margin-right: 0.5rem;
}

.phone-input-elements button ~ div {
  margin-left: 2rem;
}

.country-code-element {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.country-dropdown-button {
  display: flex;
  align-items: center;
  width: 9rem;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: rgb(75, 75, 75);
  height: 40.38px;
  max-height: 40.38px;
  color: white;
}

.phone-without-country-code-element input {
  width: 17rem;
}

.phone-without-country-code-element p {
  margin-left: -2px;
}

.flag-and-code-container {
  display: flex;
  align-items: center;
}

.country-dropdown-button img {
  width: 1.5rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  aspect-ratio: 1;
}

.dropdown-list {
  flex-direction: column;
  align-items: flex-start;
  background-color: gray;
  max-height: 50vh;
  overflow-y: scroll;
}

.dropdown-list li {
  display: flex;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-family: var(--text-font);
  color: white;
  width: calc(100% - 0.5rem);
}

.dropdown-list li:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  opacity: 0.8;
}

.dropdown-list li span {
  margin-left: 0.5rem;
}

.dropdown-list li img {
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 4px;
}

.location-inputs {
  display: flex;
  margin: 1rem auto;
}

.location-input:first-child {
  margin: 0.25rem 0;
}

.location-input:first-child ~ * {
  margin: 0.25rem 0 0.25rem 2rem;
}

.socials-inputs-container label:first-child ~ * {
  margin-left: 2rem;
}

.location-input {
  display: flex;
  flex-direction: column;
}

.location-countries-dropdown {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.location-countries-dropdown .theme-element-container {
  margin-top: 0;
  width: unset;
  max-height: 35.38px;
}

.location-countries-dropdown .country-dropdown-button,
.co-organizers-invitees-dropdown button {
  width: 12rem;
}

.login-signup-edit-form button:active {
  background: rgb(75, 75, 75);
  color: white;
}

.socials-inputs-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
}

.socials-inputs-container label {
  margin: 0;
  width: 20rem;
}

form textarea {
  width: 43%;
  height: 5rem;
  letter-spacing: 1.5px;
  padding: 0.5rem;
}

.interests-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 87vw;
  width: 76vw;
}

.close-module-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
}

.search-tools-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.search-tools-container p {
  margin: 0.5rem 0 0 0;
}

.search-tools-container i {
  top: 17%;
  right: 6%;
  font-size: 1rem;
}

.settings-theme-and-delete-account-container {
  display: flex;
  margin: 3rem 0;
  width: 75%;
}

.settings-theme-and-delete-account-container div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-theme-and-delete-account-container div .theme-element-container {
  width: 38%;
}

.delete-button {
  background-color: tomato;
}

.delete-button:hover {
  opacity: 0.7;
}

.all-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  justify-content: center;
}

.img-arrows-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.event-form button:hover {
  opacity: 0.7;
}

.event-form button:active {
  background: rgb(75, 75, 75);
  color: white;
}

.event-form .delete-button {
  margin-top: 2rem;
}

.event-form .clear-other-users-search-query {
  position: absolute;
  top: 10px;
  left: 36%;
  font-size: 1.25rem;
}

.add-members-modal .clear-other-users-search-query {
  position: absolute;
  top: 9px;
  left: 42%;
  font-size: 1.25rem;
}

/* .page-hero form .co-organizers-invitees-inputs input {
  width: 37%;
  height: calc(28px - 0.45rem);
  max-height: calc(28px - 0.45rem);
  margin-right: 4rem;
} */

.other-user-option {
  display: flex;
  align-items: center;
}

/* .page-hero form .co-organizers-invitees-inputs .other-user-option input {
  margin-right: 0.5rem;
} */

.displayed-co-organizer {
  font-size: 0.75rem;
}

.show-listed-users-or-invitees {
  text-decoration: underline;
}

.show-listed-users-or-invitees:hover {
  cursor: pointer;
}

#new-chat-btn {
  position: fixed;
  bottom: 11rem;
  right: 8rem;
  font-size: 2rem;
  border-radius: 50%;
  padding: 1.5rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}

#new-chat-btn:focus {
  border: 4px solid (var--text-color-opposite);
  color: red;
}

.create-new-chat {
  height: 60%;
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 4rem;
  border-radius: 10px;
  overflow-y: auto;
}

.create-new-chat .search-and-dropdown {
  margin-bottom: 5rem;
}

.create-new-chat .search-and-dropdown i {
  position: absolute;
  top: 9px;
  left: 72%;
  font-size: 1.25rem;
}

.create-new-chat header {
  font-family: var(--text-font);
  margin: 1rem 0;
}

.create-new-chat-modal-buttons {
  display: flex;
  /* margin-top: 5rem; */
  width: 72%;
  justify-content: space-around;
  margin: 2rem 0;
}

.create-new-chat-modal-buttons #cancel {
  background-color: var(--background-color-opposite);
  color: var(--text-color-opposite);
}

.create-new-chat-modal-buttons button:focus {
  border: unset;
  opacity: 0.8;
}

.chats-container {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-bottom: 4rem;
}

.chat-preview-container {
  position: relative;
  padding: 0.75rem 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 0.75rem 0;
}

.chat-preview-container i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.chat-preview-container:hover {
  cursor: pointer;
}

.chat-new {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  background-color: green;
  padding: 0.5rem;
  border-radius: 50%;
  font-family: var(--text-font);
}

.profile-images-chat-preview-container {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.chat-preview-container img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.more-images-text {
  margin-left: -1.5rem;
  background: black;
  color: white;
  height: 2rem;
  display: flex;
  align-items: center;
  z-index: 3;
  border-radius: 51%;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  font-weight: 700;
}

.chat-preview-container-text-container {
  text-align: left;
  width: 60%;
}

.last-message-preview-and-date {
  display: flex;
  justify-content: space-between;
}

.chat-preview-container-text-container header {
  color: var(--text-color);
  font-size: 1.5rem;
}

.chat-preview-container-text-container span {
  font-family: var(--text-font);
  color: var(--text-color);
}

.chat-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 93%;
}

.chat-preview:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 201;
  margin-left: -3rem;
}

.modal-background i:hover {
  cursor: pointer;
}

.chat-container {
  background: black;
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  border-radius: 5px;
}

.group-chat-header {
  padding: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.group-chat-header:hover {
  cursor: pointer;
}

.group-chat-header header {
  font-family: var(--text-font);
}

.chat-name {
  font-family: var(--header-font);
  font-size: 2rem;
}

.members-panel-container {
  background-color: var(--background-color);
  position: sticky;
  /* width: 100%; */
  /* z-index: 100; */
  /* top: 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: var(--background-color); */
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* scroll-behavior: smooth; */
  border-radius: 5px;
  overflow-y: auto;
}

.members-panel header {
  font-size: 2rem;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.chat-modal-two-options-hero .subheader {
  font-family: var(--text-font);
  font-size: 1rem;
}

.chat-modal-two-options-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.chat-modal-two-options-buttons-container button,
.edit-message-buttons-container button {
  background-color: white;
  color: black;
}

.chat-modal-two-options-buttons-container button:active,
.edit-message-buttons-container button:active {
  background-color: white;
  color: black;
  opacity: 0.9;
}

.members-container-options {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.members-container i {
  font-size: 2rem;
  position: relative;
  color: var(--text-color);
  right: -46%;
  top: 0.5rem;
}

.members-container-options button {
  background-color: transparent;
}

.members-panel p {
  font-family: var(--text-font);
}

.members-panel i {
  color: var(--text-color);
}

.members-panel p:hover {
  cursor: pointer;
}

.chat-header-single-other-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  background-color: var(--background-color);
}

.other-member-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
  max-width: 60%;
}

.other-member-info-container div {
  display: flex;
  align-items: center;
}

.other-member-info-container p {
  margin: 0.5rem 0 0.5rem 0;
}

.chat-header-single-other-member img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.5rem;
}

.chat-header-single-other-member header {
  overflow-wrap: anywhere;
  text-align: left;
  color: var(--text-color);
  font-size: 2rem;
}

.add-members-modal-container,
.edit-chat-name-modal-container {
  height: 100%;
  /* max-height: 100%; */
  background: black;
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-members-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 100%; */
  width: 100%;
  overflow-y: auto;
}

.add-members-modal header,
.edit-chat-name-modal-container header {
  font-family: var(--text-font);
  margin-bottom: 1rem;
}

.edit-chat-name-modal-container input {
  width: 44%;
  /* height: calc(28px - 0.45rem); */
  /* max-height: calc(28px - 0.45rem); */
  margin-right: 1rem;
  padding: 0.35rem;
}

.add-members-modal .added-user-tab-container {
  width: 75%;
}

.add-members-modal .search-and-dropdown {
  width: 75%;
  margin-bottom: 2rem;
}

.messages-container {
  height: calc(100% - 80px);
  position: relative;
  overflow-y: auto;
}

.messages-container header {
  font-size: 2rem;
  color: var(--text-color);
}

.message-indicators-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  /* left: 0%; */
  /*  top: 67%; */
  max-width: 100%;
  width: 100%;
}

.new-messages-indicator {
  padding: 0.25rem 0.75rem;
  border-radius: 11px;
  margin-bottom: 0.5rem;
}

#to-latest-message-button {
  padding: 1rem;
  border-radius: 50%;
  font-size: 1rem;
}

.message {
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
  width: 33%;
  background-color: deeppink;
  border-radius: 10px;
  color: var(--text-color);
  padding: 0.5rem;
}

.message img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.message p {
  margin: 0;
  overflow-wrap: anywhere;
}

.message-sent-info {
  font-size: 0.75rem;
  color: lightgray;
}

.message-sent-info span:hover {
  cursor: pointer;
}

.message-sent-info span:nth-child(2) {
  margin-left: 1rem;
}

.message.sent {
  text-align: left;
  left: 62%;
  position: relative;
  background-color: var(--background-color);
}

.message.sent p:first-child {
  color: var(--text-color);
}

.message.sent .message-content p:first-child {
  margin-left: 0.25rem;
}

.delete-message-modal {
  text-align: center;
  width: 100%;
}

.delete-message-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.delete-message-modal header {
  font-family: var(--text-font);
  font-size: 1rem;
}

.delete-message-btns-container button {
  font-size: 0.75rem;
}

.delete-message-btns-container button:active {
  background: var(--text-color-opposite);
  opacity: 0.8;
}

.delete-message-btns-container button:first-child {
  background-color: white;
  color: black;
}

.delete-message-btns-container button:nth-child(2) {
  background-color: black;
  color: white;
}

.message.sent .message-sent-info {
  color: darkgray;
}

.message.received {
  text-align: right;
}

.message.received .message-content {
  margin-left: 0.25rem;
}

#delete-msg-btn {
  color: red;
}

.message-input-container {
  padding: 1rem;
  display: flex;
  bottom: 0rem;
  align-items: center;
  background-color: var(--background-color);
  position: relative;
  width: 95%;
  bottom: 0;
}

.message-input-container textarea {
  width: 87%;
  min-height: 1.5rem;
  height: 1.5rem;
  max-height: 13rem;
  padding: 0.5rem;
}

#send-message-button {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  border-radius: 50%;
  align-items: center;
}

#send-message-button:focus {
  border: 2px solid white;
}

.edit-message-buttons-container {
  display: flex;
  margin-left: 1rem;
}

.edit-message-buttons-container button {
  padding: 0.3em 0.6em;
  font-size: 0.75rem;
  margin: 0 0.75rem;
}

.added-user-tab-container {
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.dropdown-search {
  width: 100%;
  /* height: calc(28px - 0.45rem); */
  /* max-height: calc(28px - 0.45rem); */
  margin-right: 1rem;
  padding: 0.35rem;
}

#potential-invitees-search,
#event-co-organizers-search,
#potential-blockees-search {
  width: 37% !important;
}

.search-and-dropdown {
  display: flex;
  width: 100%;
  position: relative;
  align-items: baseline;
}

.dropdownList {
  display: flex;
  flex-direction: column;
}

.dropdownList i {
  margin-left: 1rem;
}

.dropdownList button {
  width: 12rem;
}
