:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Indie Flower", cursive;
  line-height: 1.5;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #242424;
  --background-color-opposite: rgb(233, 231, 228);
  --header-one-color: var(--theme-yellow);
  --header-two-color: var(--theme-orange);
  --text-font: "Josefine Sans", monospace, sans-serif;
  --text-color: white;
  --text-color-opposite: black;
  --theme-blue: #004cff;
  --theme-green: rgb(3, 173, 3);
  --theme-red: red;
  --theme-yellow: yellow;
  --theme-brown: #644117;
  --theme-purple: rgb(212, 10, 212);
  --theme-orange: rgb(255, 115, 0);
}

nav {
  width: 90vw;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

a:hover,
li:hover {
  opacity: 0.8;
  cursor: pointer;
}

nav a,
nav li,
nav i {
  font-size: 1.25rem;
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5rem auto;
  color: var(--header-one-color);
}

h2 {
  color: var(--header-two-color);
}

h3 {
  color: var(--text-color);
  letter-spacing: 3px;
  font-size: 2rem;
  margin: 0;
}

p {
  color: var(--text-color);
  font-family: var(--text-font);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--text-font);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.4;
}

button:disabled:hover {
  cursor: not-allowed;
}

[data-theme="light"] {
  --background-color: rgb(233, 231, 228);
  --background-color-opposite: #242424;
  --header-one-color: var(--theme-brown);
  --header-two-color: var(--theme-green);
  --text-color: black;
  --text-color-opposite: white;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.25rem auto;
  color: var(--text-color);
  text-align: left;
}

input {
  font-family: var(--text-font);
  font-size: 1.1rem;
}

input:focus {
  outline: 2px solid white;
}

i:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  color: var(--text-color);
}

nav li {
  margin-left: 0.25rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  appearance: menulist-button;
  transition: background-color 5000s ease-in-out 0s;
  background-image: none !important;
  background-color: rgb(230, 12, 12) !important;
  color: black !important;
}

.error-boundary-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 4rem;
}

.error-boundary-container h1 {
  color: var(--theme-orange);
}

.error-boundary-container button {
  background-color: var(--background-color-opposite);
  color: var(--text-color-opposite);
  font-family: var(--text-font);
  border-radius: 10px;
  margin: 0 1rem;
}

.error-boundary-container a {
  color: white;
}
