:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Indie Flower", cursive;
  line-height: 1.5;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #242424;
  --background-color-opposite: rgb(233, 231, 228);
  --header-one-color: var(--theme-yellow);
  --text-font: "Josefine Sans", monospace, sans-serif;
  --text-color: white;
  --text-color-opposite: black;
  --theme-blue: #004cff;
  --theme-green: rgb(3, 173, 3);
  --theme-red: red;
  --theme-yellow: yellow;
  --theme-brown: #644117;
  --theme-purple: rgb(212, 10, 212);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: var(--text-font);
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5rem auto;
  color: var(--header-one-color);
}

h2 {
  color: var(--theme-green);
}

p {
  color: var(--text-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

[data-theme="light"] {
  --background-color: rgb(233, 231, 228);
  --background-color-opposite: #242424;
  --header-one-color: var(--theme-brown);
  --text-color: black;
  --text-color-opposite: white;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.25rem auto;
  color: var(--text-color);
  text-align: left;
}

input {
  font-family: var(--text-font);
  font-size: 1.1rem;
}

input:focus {
  outline: 2px solid white;
}

i:hover {
  cursor: pointer;
}
