@media screen and (max-width: 1920px) and (min-width: 1601px) {
  :root {
    font-size: x-large;
  }

  .login-button {
    width: 102%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: x-large;
  }

  .page-hero .login-page-container {
    flex-direction: column;
    height: 84vh;
  }

  .login-greeting-container {
    margin-bottom: 2rem;
  }

  .login-form {
    width: 86%;
  }

  .form {
    width: 89%;
    margin-top: 4rem;
  }

  .rsvpd-events-container {
    flex-direction: column;
    width: 100vw;
  }

  .site-links-container {
    width: 96vw;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }

  form textarea {
    width: 76%;
  }

  #add-photo-box {
    width: 20rem;
  }

  #user-settings-header {
    width: 90%;
  }

  .page-hero .edit-form {
    width: 90%;
  }

  .radio-inputs-container {
    width: 91%;
  }

  .independent-header {
    width: 100%;
  }

  .settings-theme-and-delete-account-container {
    width: 95%;
  }

  .userEventsSectionEventsContainer {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .userEventsSectionEventsContainer .eventCard {
    width: 75%;
    max-width: 100%;
  }

  .all-cards-container {
    margin: 2rem 2rem 0 2rem;
  }

  .all-cards-container .eventCard {
    width: 80%;
    margin: 1.25rem 3rem;
  }

  .friendRequestUsersContainer {
    width: 75%;
  }

  .furtherInfoSection {
    align-items: center;
  }

  .furtherInfoSection section {
    margin-left: 0;
    align-items: center;
  }

  .furtherInfoSection .listedUser {
    width: 63%;
  }

  .userListContainer {
    width: 91%;
  }

  .chats-container {
    width: 93%;
  }

  #new-chat-btn {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .chat-container {
    width: 87%;
  }
}

@media screen and (max-width: 914px) {
  .settings-theme-and-delete-account-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .settings-theme-and-delete-account-container div {
    width: 84%;
    margin: 1rem 0;
  }

  .last-message-preview-and-date span:nth-child(2) {
    width: 20%;
  }

  .message.sent {
    left: 49%;
  }
}

@media screen and (max-width: 900px) {
  .message {
    width: 46%;
  }

  .message.sent {
    left: 46%;
  }
}

@media screen and (max-width: 884px) {
  #new-chat-btn {
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
  }

  .chat-preview-container img {
    width: 4rem;
    height: 4rem;
  }

  .last-message-preview-and-date span:nth-child(2) {
    width: 32%;
    margin-left: 0.25rem;
  }
}

@media screen and (max-width: 857px) {
  .buttons-container {
    margin-top: 5rem;
  }

  .message {
    width: 45%;
  }

  .message.sent {
    left: 52%;
  }

  .message.sent {
    left: 48%;
  }
}

@media screen and (max-width: 839px) {
  .furtherInfoSection {
    width: 95vw;
  }

  .chats-container {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .message.sent {
    left: 47%;
  }
}

@media screen and (max-width: 834px) {
  .all-cards-container .eventCard .eventCardImageContainer {
    width: 7rem;
    height: 5rem;
  }

  .all-cards-container .eventCard header {
    font-size: smaller;
  }

  .all-cards-container .eventCard p {
    font-size: 0.6rem;
  }

  .all-cards-container .eventCard a,
  .all-cards-container .eventCard button {
    width: 90%;
  }

  .eventCardImageContainer img {
    width: 7rem;
    height: 5rem;
  }

  .eventCardLocationContainer p {
    margin: 0.25rem 0;
  }

  .modal-background .listedUser {
    width: 70%;
  }
}

@media screen and (max-width: 820px) {
  .location-inputs {
    flex-direction: column;
  }

  .location-inputs div {
    margin: 0;
  }

  .location-input:first-child,
  .location-input:first-child ~ * {
    margin: 0.5rem 0;
  }

  .location-input:first-child ~ * {
    margin-left: 0;
  }

  .socials-inputs-container {
    flex-direction: column;
  }

  .socials-inputs-container label {
    margin: 0.5rem 0;
  }

  .socials-inputs-container label:first-child ~ * {
    margin-left: 0;
  }

  .settings-theme-and-delete-account-container div .theme-element-container {
    width: 43%;
  }

  .userEventsSectionEventsContainer .eventCard .event-all-but-location-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 810px) {
  .settings-theme-and-delete-account-container div .theme-element-container {
    width: 43%;
  }

  .friendRequestUsersContainer .listedUser {
    width: 97%;
  }

  .last-message-preview-and-date span:nth-child(2) {
    width: 36%;
  }
}

@media screen and (max-width: 800px) {
  .settings-theme-and-delete-account-container div .theme-element-container {
    width: 43%;
  }
}

@media screen and (max-width: 768px) {
  .login-page-container h1 {
    font-size: 2rem;
  }

  .login-page-container h2 {
    font-size: 1.5rem;
  }

  .login-options-container header {
    font-size: 1.5rem;
  }

  .login-signup-form header,
  .login-signup-form p:first-child,
  .edit-form header,
  .edit-form p:first-child {
    font-size: 1rem;
  }

  .login-signup-form .theme-element-container,
  .edit-form .theme-element-container {
    margin-top: 1rem;
  }

  .login-button {
    font-size: 1rem;
  }

  .page-hero form input {
    width: 86%;
  }

  .settings-theme-and-delete-account-container div .theme-element-container {
    width: 45%;
  }

  .modal-background .listedUser img {
    width: 4rem;
    height: 4rem;
  }

  .furtherInfoSection .listedUser p:first-child {
    font-size: 1rem;
  }

  .furtherInfoSection .listedUser p:nth-child(2) {
    font-size: 0.75rem;
  }

  .furtherInfoSection .listedUser button {
    font-size: 0.75rem;
  }

  .userListContainer h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .chat-header-single-other-member header {
    font-size: 1.5rem;
  }

  .message p:first-child {
    font-size: 0.75rem;
  }

  .message.sent {
    left: 46%;
  }

  .message-sent-info {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 615px) {
  .page-hero h1 {
    font-size: 2rem;
  }

  .hamburger-container {
    margin-top: 1rem;
  }

  .palz-logo img {
    width: 5rem;
  }

  .palz-logo header {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  #hamburger {
    font-size: 2rem;
  }

  .upcoming-events-hero h1 {
    font-size: 2rem;
  }

  .site-links-container button {
    font-size: 0.5rem;
  }

  .event-form header {
    font-size: 1rem;
  }

  .location-inputs {
    flex-direction: column;
  }

  .location-input:first-child ~ * {
    margin: 0.25rem 0;
  }

  #event-max-participants {
    width: 75%;
  }

  .buttons-container {
    margin-top: 6rem;
  }

  #add-photo-box {
    height: 9rem;
    width: 16rem;
  }

  .eventCardImageContainer img {
    width: 8rem;
    height: 5rem;
  }

  .all-cards-container .eventCard {
    margin: 1.25rem 1rem;
  }

  .eventCardLocationContainer p {
    font-size: smaller;
  }

  .search-tools-container {
    flex-direction: column;
  }

  .all-cards-container {
    margin: 2rem 1rem 0 1rem;
  }

  .furtherInfoSection header {
    font-size: 1.25rem;
  }

  #to-latest-message-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .chat-header-single-other-member img {
    width: 3rem;
    height: 3rem;
  }

  .other-member-info-container {
    max-width: 75%;
  }

  .group-chat-header header {
    font-size: 0.75rem;
  }

  .message.sent {
    left: 45%;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin-top: 1rem;
  }

  .buttons-container {
    margin-top: 6rem;
  }

  .buttons-container button {
    font-size: smaller;
  }

  .radio-inputs-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .radio-input-and-label {
    margin: 0.25rem 0;
  }

  .all-cards-container {
    width: 100vw;
    margin: 0 1rem;
  }

  .chat-preview-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .last-message-preview-and-date span:nth-child(2) {
    width: 46%;
  }

  .message-indicators-container {
    top: 87%;
  }
}

@media screen and (max-width: 540px) {
  #root {
    padding: 2rem 0;
  }

  .app {
    width: 85vw;
  }

  .login-form {
    margin-top: 0.5rem;
    width: 100%;
  }

  .login-signup-form p:first-child,
  .edit-form p:first-child {
    font-size: 1rem;
  }

  .form {
    width: 95%;
  }

  .page-hero .login-page-container {
    height: 100vh;
  }

  .site-links-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    margin-bottom: 0.5rem;
  }

  .userEventsSectionEventsContainer .eventCard {
    margin: 1.5rem 0;
    width: 93%;
  }

  .eventCardImageContainer img {
    width: 6rem;
    height: 4rem;
  }

  .friendRequestUsersContainer {
    width: 99%;
  }

  .modal-background .listedUser {
    width: 78%;
  }

  .chats-container {
    width: 95%;
  }

  .chat-preview-container-text-container header {
    font-size: 1rem;
  }

  .chat-preview-container-text-container span {
    font-size: 0.75rem;
  }

  .chat-preview-container i {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .profile-images-chat-preview-container {
    margin-left: 0.75rem;
  }

  .profile-images-chat-preview-container img {
    margin-left: -2rem;
  }

  .chat-preview-container img {
    width: 3rem;
    height: 3rem;
  }

  .last-message-preview-and-date span:nth-child(2) {
    width: 39%;
  }

  .more-images-text {
    margin-left: -0.8rem;
    font-size: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .message.sent {
    left: 43%;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: medium;
  }

  .all-cards-container {
    justify-content: space-evenly;
  }

  .site-links-container {
    width: 87vw;
  }

  .site-links-container {
    width: 87vw;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }

  .message.sent {
    left: 47%;
  }
}

@media screen and (max-width: 480px) {
  .form {
    margin-top: 4rem;
  }

  .site-links-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    height: 7rem;
    margin-bottom: 0.5rem;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }

  .all-cards-container {
    width: 100vw;
    margin: 2rem 1rem 0 1rem;
  }

  .all-cards-container .eventCard {
    margin: 1.75rem 1rem;
  }

  .modal-background .userListContainer {
    height: 53%;
  }
}

@media screen and (max-width: 448px) {
  .page-hero .login-signup-form,
  .page-hero .edit-form {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .login-greeting-container {
    margin-bottom: 0.5rem;
    margin-top: -2.5rem;
  }

  .site-links-container {
    height: 12rem;
    width: 95vw;
  }

  .site-links-container button {
    font-size: 1rem;
  }

  .hamburger-container {
    margin-top: 0;
  }

  .message.sent {
    left: 45%;
  }
}

@media screen and (max-width: 412px) {
  .page-hero .login-page-container {
    height: 80vh;
  }

  .site-links-container {
    height: 9rem;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 412px) and (min-width: 732px) {
  .page-hero .login-page-container {
    height: 93vh;
  }
}

@media screen and (max-width: 400px) {
  .page-hero .login-page-container {
    height: 95vh;
  }
}

@media screen and (max-width: 393px) {
  .settings-theme-and-delete-account-container div {
    width: 100%;
  }

  .message.sent {
    left: 43%;
  }
}

@media screen and (max-width: 375px) {
  .form {
    margin-top: 2rem;
  }

  .group-chat-header header {
    font-size: 0.6rem;
  }

  .message.sent {
    left: 45%;
  }
}

@media screen and (max-width: 360px) {
  .eventCardImageContainer {
    margin-top: 1rem;
    margin-left: 0.25rem;
  }

  .eventCardImageContainer img {
    height: 5rem;
    width: 8rem;
  }

  .message.sent {
    left: 43%;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: small;
  }

  .eventCardImageContainer img {
    height: 4rem;
    width: 6rem;
  }
}
