@media screen and (max-width: 1920px) and (min-width: 1601px) {
  :root {
    font-size: x-large;
  }

  .login-button {
    width: 102%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: x-large;
  }

  .page-hero .login-page-container {
    flex-direction: column;
    height: 84vh;
  }

  .login-greeting-container {
    margin-bottom: 2rem;
  }

  .login-form {
    width: 86%;
  }

  .form {
    width: 89%;
    margin-top: 4rem;
  }

  .rsvpd-events-container {
    flex-direction: column;
    width: 100vw;
  }

  .site-links-container {
    width: 96vw;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }

  form textarea {
    width: 76%;
  }

  #add-photo-box {
    width: 20rem;
  }
}

@media screen and (max-width: 857px) {
  .buttons-container {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .login-page-container h1 {
    font-size: 2rem;
  }

  .login-page-container h2 {
    font-size: 1.5rem;
  }

  .login-options-container header {
    font-size: 1.5rem;
  }

  .login-signup-edit-form header,
  .login-signup-edit-form p:first-child {
    font-size: 1rem;
  }

  .login-signup-edit-form .theme-element-container {
    margin-top: 1rem;
  }

  .login-button {
    font-size: 1rem;
  }

  .page-hero form input {
    width: 86%;
  }
}

@media screen and (max-width: 615px) {
  .page-hero h1 {
    font-size: 2rem;
  }

  .hamburger-container {
    margin-top: 1rem;
  }

  .palz-logo img {
    width: 5rem;
  }

  .palz-logo header {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  #hamburger {
    font-size: 2rem;
  }

  .upcoming-events-hero h1 {
    font-size: 2rem;
  }

  .site-links-container button {
    font-size: 0.5rem;
  }

  .event-form header {
    font-size: 1rem;
  }

  .location-inputs {
    flex-direction: column;
  }

  .location-input:first-child ~ * {
    margin: 0.25rem 0;
  }

  #event-max-participants {
    width: 75%;
  }

  .buttons-container {
    margin-top: 6rem;
  }

  #add-photo-box {
    height: 9rem;
    width: 16rem;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin-top: 1rem;
  }

  .buttons-container {
    margin-top: 6rem;
  }

  .buttons-container button {
    font-size: smaller;
  }
}

@media screen and (max-width: 540px) {
  #root {
    padding: 2rem 0;
  }

  .app {
    width: 85vw;
  }

  .login-form {
    margin-top: 0.5rem;
    width: 100%;
  }

  .login-signup-edit-form p:first-child {
    font-size: 1rem;
  }

  .form {
    width: 95%;
  }

  .page-hero .login-page-container {
    height: 100vh;
  }

  .site-links-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: medium;
  }

  .eye {
    top: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .form {
    margin-top: 4rem;
  }

  .site-links-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    height: 7rem;
    margin-bottom: 0.5rem;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 414px) {
  .login-greeting-container {
    margin-bottom: 0.5rem;
    margin-top: -2.5rem;
  }

  .site-links-container {
    height: 12rem;
    width: 95vw;
  }

  .site-links-container button {
    font-size: 1rem;
  }

  .hamburger-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 412px) {
  .page-hero .login-page-container {
    height: 80vh;
  }

  .site-links-container {
    height: 9rem;
  }

  .site-links-container button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 412px) and (min-width: 732px) {
  .page-hero .login-page-container {
    height: 93vh;
  }
}

@media screen and (max-width: 400px) {
  .page-hero .login-page-container {
    height: 95vh;
  }
}

@media screen and (max-width: 375px) {
  .form {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: small;
  }
}
